
@model TechXpress.Data.Model.Product

<h2>Add Product</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Description</label>
        <input asp-for="Description" class="form-control"/>
    </div>

    <div class="form-group">
        <label>Price</label>
        <input asp-for="Price" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Category</label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Image</label>
        <input type="file" name="image" class="form-control" accept="image/*" />
    </div>
    <button type="submit" class="btn btn-primary">Add Product</button>
</form>


<a asp-action="Index" class="btn btn-secondary">Back to List</a>
