@{
    ViewData["Title"] = "Access Denied";
}

<h2 class="text-center text-danger">Access Denied</h2>
<p class="text-center">You do not have permission to access this page.</p>
<a href="javascript:history.back()" class="btn btn-warning d-block mx-auto" style="width: 200px;">Go Back</a>
