@{
    ViewData["Title"] = "Email Failure";
}
<h2>Email Failed</h2>
<p>Try Again soon.</p>

<button id="resend-confirmation-btn">Resend Confirmation Email</button>
<div id="resend-message" style="margin-top:10px;"></div>
