@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!-- HEADER -->
<header>
	<!-- TOP HEADER -->
	<div id="top-header">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<ul class="header-links">
						<li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
						<li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
						<li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
					</ul>
				</div>
				<div class="col-md-6 text-right">
					<ul class="header-links">
						<li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
						@if (SignInManager.IsSignedIn(User))
						{
							if (User.IsInRole("Admin"))
							{
								<li><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index"><i class="fa fa-user-o"></i> Admin Panel</a></li>
							}
							else if (User.IsInRole("Customer"))
							{
								<li><a asp-area="Customer" asp-controller="Profile" asp-action="Index"><i class="fa fa-user-o"></i> My Account</a></li>
							}
							<li><a href="javascript:void(0);" id="logoutBtn"><i class="fa fa-sign-out"></i> Logout</a></li>
						}
						else
						{
							<li><a asp-area="" asp-controller="Account" asp-action="Login"><i class="fa fa-user-o"></i> Login</a></li>
							<li><a asp-area="" asp-controller="Account" asp-action="Register"><i class="fa fa-user-o"></i> Register</a></li>
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /TOP HEADER -->
	<!-- MAIN HEADER -->
	<div id="header">
		<div class="container">
			<div class="row">
				<!-- LOGO -->
				<div class="col-md-3">
					<div class="header-logo">
						<a asp-controller="Home" asp-action="Index" class="logo">
							<img src="~/images/logo.png" alt="TechXpress Logo">
						</a>
					</div>
				</div>
				<!-- /LOGO -->
				<!-- SEARCH BAR -->
				<div class="col-md-6">
					<div class="header-search">
						<form class="d-flex">
							<div class="input-group">
								<select id="categoryFilter" class="input-select">
									<option value="0">All Categories</option>
									@* Dynamically load categories if available *@
									@* @if (ViewBag.Categories != null)
										{
											@foreach (var category in ViewBag.Categories)
											{
												<option value="@category.Id">@category.Name</option>
											}
										} *@
								</select>
								<input type="text" id="searchBox" class="input form-control" placeholder="Search here">
								<div class="input-group-append">
									<button id="searchButton" class="search-btn btn"><i class="fa fa-search"></i> Search</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- /SEARCH BAR -->
				<!-- ACCOUNT -->
				<div class="col-md-3 clearfix">
					<div class="header-ctn">
						<!-- Wishlist -->
						<div>
							<a href="#">
								<i class="fa fa-heart-o"></i>
								<span>Your Wishlist</span>
								<div class="qty">2</div>
							</a>
						</div>
						<!-- /Wishlist -->

						<!-- Cart -->
						@await Component.InvokeAsync("CartSummary")
						<!-- /Cart -->

						<!-- Menu Toggle -->
						<div class="menu-toggle">
							<a href="#">
								<i class="fa fa-bars"></i>
								<span>Menu</span>
							</a>
						</div>
						<!-- /Menu Toggle -->
					</div>
				</div>
				<!-- /ACCOUNT -->
			</div>
		</div>
	</div>
	<!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->
