
<!-- HEADER -->
	<header>
		<!-- TOP HEADER -->
	<div id="top-header">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-md-6">
							<ul class="header-links">
								<li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
								<li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
								<li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
							</ul>
						</div>
						<div class="col-md-6 text-right">
							<ul class="header-links pull-right">
								<li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
								<li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
							</ul>
						</div>
					</div>
				</div>
		</div>
		<!-- /TOP HEADER -->
		<!-- MAIN HEADER -->
	<div id="header">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- LOGO -->
					<div class="col-md-3">
						<div class="header-logo">
							<a href="#" class="logo">
								<img src="~/images/logo.png" alt="">
							</a>
						</div>
					</div>
					<!-- /LOGO -->
					<!-- SEARCH BAR -->
						<!-- Example for fixing search bar section -->
						<div class="col-md-6">
							<div class="header-search">
								<form class="d-flex">
									<div class="input-group">
										<select id="categoryFilter" class="input-select">
											<option value="0">All Categories</option>
											@* @if (ViewBag.Categories != null)
											{
												@foreach (var category in Model.Categories)
												{
													<option value="@category.Id">@category.Name</option>
												}
											} *@
										</select>
										<input type="text" id="searchBox" class="input form-control" placeholder="Search here">
										<div class="input-group-append">
											<button id="searchButton" class="search-btn btn">Search</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					<!-- /SEARCH BAR -->
					<!-- ACCOUNT -->
					<div class="col-md-3 clearfix">
						<div class="header-ctn">
							<!-- Wishlist -->
							<div>
								<a href="#">
									<i class="fa fa-heart-o"></i>
									<span>Your Wishlist</span>
									<div class="qty">2</div>
								</a>
							</div>
							<!-- /Wishlist -->
							<!-- Cart -->
							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
									<i class="fa fa-shopping-cart"></i>
									<span>Your Cart</span>
									<div class="qty">3</div>
								</a>
								<div class="cart-dropdown">
									<div class="cart-list">
										<div class="product-widget">
											<div class="product-img">
												<img src="~/images/product01.png" alt="">
											</div>
											<div class="product-body">
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
											</div>
											<button class="delete"><i class="fa fa-close"></i></button>
										</div>

										<div class="product-widget">
											<div class="product-img">
												<img src="~/images/product02.png" alt="">
											</div>
											<div class="product-body">
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
											</div>
											<button class="delete"><i class="fa fa-close"></i></button>
										</div>
									</div>
									<div class="cart-summary">
										<small>3 Item(s) selected</small>
										<h5>SUBTOTAL: $2940.00</h5>
									</div>
									<div class="cart-btns">
										<a href="#">View Cart</a>
										<a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
									</div>
								</div>
							</div>
							<!-- /Cart -->
							<!-- Menu Toogle -->
							<div class="menu-toggle">
								<a href="#">
									<i class="fa fa-bars"></i>
									<span>Menu</span>
								</a>
							</div>
							<!-- /Menu Toogle -->
						</div>
					</div>
					<!-- /ACCOUNT -->
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- /MAIN HEADER -->
	</header>
	<!-- /HEADER -->

    <!-- NAVIGATION -->
	<nav id="navigation" class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TechXpress</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
						aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="responsive-nav">
					<ul class="main-nav nav navbar-nav">
						<li class="nav-item">
							<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-controller="Product" asp-action="Index">Products</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-controller="Category" asp-action="Index">Category</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-controller="Order" asp-action="Index">Orders</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-controller="Admin" asp-action="Index">Admin Dashboard</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

    <!-- /NAVIGATION -->