@model List<TechXpress.Services.DTOs.OrderDetailDTO>

@if (Model.Any())
{
    <p>Cart Items: @Model.Sum(i => i.Quantity)</p>
    <p>Total Price: @Model.Sum(i => i.Quantity * i.Price).ToString("C")</p>
}
else
{
    <p>Your cart is empty.</p>
}
