<div class="card shadow-sm">
    <div class="card-header"><h5>Products Created (Monthly)</h5></div>
    <div class="card-body">
        <canvas id="productsChart" height="100"></canvas>
    </div>
</div>
